# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
venv/*
.env.*

# Editor
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Database
escalas.db

# Logs
*.log

# System files
.DS_Store
Thumbs.db
